#
#  Copyright 2020 WolkAbout Technology s.r.o.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#

[Unit]
 Description=Gateway for connecting non-IP enabled devices to WolkAbout IoT Platform
 After=multi-user.target mosquitto.service

[Service]
 Type=idle
 WorkingDirectory=/opt/wolkabout/gateway/bin
 ExecStart=/opt/wolkabout/gateway/bin/WolkGatewayApp /etc/wolkGateway/gatewayConfiguration.json
 Restart=always

[Install]
 WantedBy=multi-user.target
